repositories:
# Cloud Posse incubator repo of helm charts
- name: "cloudposse-incubator"
  url: "https://charts.cloudposse.com/incubator/"
- name: "bedag"
  url: "https://bedag.github.io/helm-charts/"

releases:
#
# References:
#   - https://github.com/cloudposse/charts/tree/master/incubator/monochart
#
- name: '{{ .Values.deployment.app_name }}'
  labels:
    preview: "true"
  chart: "cloudposse-incubator/monochart"
  version: "0.26.0"
  wait: true
  force: true
  recreatePods: false
  values:
    - fullnameOverride: '{{ .Values.deployment.app_name }}'
      nameOverride: '{{ .Values.deployment.app_name }}'
      serviceAccountName: '{{ .Values.deployment.app_name }}'

      image:
        repository: '{{ .Values.image.repository }}'
        tag: '{{ .Values.image.tag }}'
        pullPolicy: Always
      replicaCount: 2

      # Deployment configuration
      deployment:
        enabled: true
        annotations:
          reloader.stakater.com/auto: "true" # Reload pods for any modification of a ConfigMap or Secret
        pod: 
          labels:
            tags.datadoghq.com/env: '{{ .Values.deployment.namespace }}'
            tags.datadoghq.com/service: '{{ .Values.deployment.app_name }}'
            tags.datadoghq.com/version: '{{ .Values.deployment.version }}'
        labels: 
          tags.datadoghq.com/env: '{{ .Values.deployment.namespace }}'
          tags.datadoghq.com/service: '{{ .Values.deployment.app_name }}'
          tags.datadoghq.com/version: '{{ .Values.deployment.version }}'
        strategy:
          type: "RollingUpdate"
          rollingUpdate:
            maxUnavailable: 1
        revisionHistoryLimit: 10

      # Configuration Settings
      configMaps:
        default:
          enabled: true

      # Datadog APM
      env:
        DD_LOGS_INJECTION: "true"
        DD_RUNTIME_METRICS_ENABLED: "true"
      envFromFieldRefFieldPath:
        DD_AGENT_HOST: status.hostIP
        DD_ENV: metadata.labels['tags.datadoghq.com/env']
        DD_SERVICE: metadata.labels['tags.datadoghq.com/service']
        DD_VERSION: metadata.labels['tags.datadoghq.com/version']

      envFrom:
        secrets:
          - '{{ .Values.deployment.app_name }}'

      # Service endpoint 
      service:
        enabled: true
        type: ClusterIP
        ports:
          default:
            internal: 8080
            external: 80
      ingress:
        default:
          enabled: false
          port: default

      resources:
        requests:
          memory: 10Mi
          cpu: 100m
        limits:
          memory: 10Mi
          cpu: 100m

